# Server Environment & Port
NODE_ENV=development
PORT=5000

# MongoDB Database Connection String
MONGODB_URI=mongodb://127.0.0.1:27017/dds

# JWT Authentication Secret
JWT_SECRET=your_jwt_secret_key_here

# Firebase Admin SDK Configuration
FIREBASE_PROJECT_ID=otp-site-80c03
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
